.wrapper-md{
  padding: 20px;
}
.b-b {
    border-bottom: 1px solid #dee5e7;
}

.bg-light, .bg-light .lter {
    background-color: #f6f8f8;
}


.m-v-5 {
  margin: 5px 0;
}


.m-h-5 {
  margin: 0 5px;
}


.m-t-5 {
  margin-top: 5px;
}


.m-t-7 {
  margin-top: 7px;
}


.m-t-14 {
  margin-top: 14px;
}


.m-t-minus-5 {
  margin-top: -5px;
}


.m-t-10 {
  margin-top: 10px;
}


.m-t-20 {
  margin-top: 20px;
}


.m-t-25 {
  margin-top: 25px;
}


.m-t-b-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}


.m-l-0 {
  margin-left: 0px;
}


.m-l-5 {
  margin-left: 5px;
}


.m-l-10 {
  margin-left: 10px;
}


.m-l-15 {
  margin-left: 15px;
}


.m-l-15-negative {
  margin-left: -15px;
}


.m-l-20 {
  margin-left: 20px;
}


.m-l-30 {
  margin-left: 30px;
}


.m-l-40 {
  margin-left: 40px;
}


.m-l-260 {
  margin-left: 260px;
}


.m-r-5 {
  margin-right: 5px;
}


.m-r-10 {
  margin-right: 10px;
}


.m-r-12 {
  margin-right: 12px;
}


.m-r-15 {
  margin-right: 15px;
}


.m-r-50 {
  margin-right: 50px;
}


.m-r-100 {
  margin-right: 100px;
}


.m-r-150 {
  margin-right: 150px;
}


.m-r-160 {
  margin-right: 160px;
}


.m-r-170 {
  margin-right: 170px;
}


.m-r-200 {
  margin-right: 200px;
}


.m-b-0 {
  margin-bottom: 0px;
}


.m-b-5 {
  margin-bottom: 5px;
}


.m-b-10 {
  margin-bottom: 10px;
}


.m-b-12 {
  margin-bottom: 12px;
}


.m-b-15 {
  margin-bottom: 15px;
}


.m-b-20 {
  margin-bottom: 20px;
}


.m-b-23 {
  margin-bottom: 23px;
}


.m-b-40 {
  margin-bottom: 40px;
}


.p-b-0 {
  padding-bottom: 0 !important;
}


.p-b-20 {
  padding-bottom: 20px;
}


.p-b-30 {
  padding-bottom: 30px;
}


.p-b-33 {
  padding-bottom: 33px;
}


.p-t-0 {
  padding-top: 0 !important;
}


.p-l-0 {
  padding-left: 0 !important;
}


.p-l-5 {
  padding-left: 5px;
}


.p-l-10 {
  padding-left: 10px;
}


.p-l-15 {
  padding-left: 15px;
}


.p-l-15-imp {
  padding-left: 15px !important;
}


.p-l-18-imp {
  padding-left: 18px !important;
}


.p-l-20 {
  padding-left: 20px;
}


.p-l-30 {
  padding-left: 30px !important;
}


.p-l-35 {
  padding-left: 35px !important;
}

@media screen and (min-width: 991px) {
  
  .p-l-md-0 {
    padding-left: 0 !important;
  }
}

.padder-10 {
  padding: 10px 0 !important;
}


.padder-11 {
  padding: 11px 0;
}


.p-r-0 {
  padding-right: 0 !important;
}


.p-t-b-20 {
  padding: 20px 0;
}


.p-t-20 {
  padding-top: 20px;
}


.p-t-5 {
  padding-top: 5px;
}


.p-t-10 {
  padding-top: 10px;
}


.p-t-15 {
  padding-top: 15px;
}


.p-xs {
  padding: 5px;
}


.p-md {
  padding: 20px;
}


.p-sm {
  padding: 8px 15px;
}


.p-l-xs {
  padding-left: 5px;
}


.p-r-15 {
  padding-right: 15px;
}


.p-r-18-imp {
  padding-right: 18px !important;
}


.p-r-20 {
  padding-right: 20px;
}


.p-r-xs {
  padding-right: 5px !important;
}


.p-r-sm {
  padding-right: 10px;
}

.nav-tabs {
    border-color: #dee5e7;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.tab-beautiful .nav-tabs {
  padding-left: 20px;
  background-color: #F6F8F8;
}

.tab-beautiful .nav-tabs li {
  margin-bottom: 0;
  margin-right: 20px;
}

.tab-beautiful .nav-tabs li a {
  padding: 10px 2px;
  border: 0;
}

.tab-beautiful .nav-tabs li a:hover, .tab-beautiful .nav-tabs li a:active, .tab-beautiful .nav-tabs li a:focus {
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 3px solid #7266ba !important;
}

.tab-beautiful .nav-tabs li.active a {
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 3px solid #fad733 !important;
}

.tab-beautiful.tab-free-mode .nav-tabs {
  padding-left: 0;
  background-color: transparent;
}

.tab-beautiful.tab-free-mode .tab-content {
  padding: 15px 0 0 0;
}

.tab-beautiful .tab-content {
  background-color: transparent;
  border: 0;
  padding-top: 0;
}

.tab-beautiful .tab-content .nested-tab .nav-tabs {
  padding-left: 0;
  background-color: transparent;
  border-color: #dee5e7;
}

.tab-beautiful .tab-content .nested-tab .nav-tabs li {
  float: left;
  margin-bottom: -1px;
  margin-right: 0;
}

.tab-beautiful .tab-content .nested-tab .nav-tabs li a {
  border: solid 1px transparent;
  border-radius: 2px 2px 0 0;
  border-bottom: #dee5e7;
  padding: 10px 15px;
}

.tab-beautiful .tab-content .nested-tab .nav-tabs li a:hover, .tab-beautiful .tab-content .nested-tab .nav-tabs li a:active, .tab-beautiful .tab-content .nested-tab .nav-tabs li a:focus {
  background-color: #fff;
  border-left: solid 1px #dee5e7;
  border-right: solid 1px #dee5e7;
  border-top: solid 1px #dee5e7;
  border-bottom: solid 1px #fff !important;
}

.tab-beautiful .tab-content .nested-tab .nav-tabs li.active a {
  background-color: #fff;
  border-left: solid 1px #dee5e7;
  border-right: solid 1px #dee5e7;
  border-top: solid 1px #dee5e7;
  border-bottom: solid 1px #fff !important;
}

.tab-beautiful .tab-content .nested-tab .tab-content {
  background-color: #fff;
  border: solid 1px #dee5e7;
  border-top: 0;
  padding-top: 15px;
}

.tab-beautiful .tab-content .nested-tab .tab-content .list-group-item {
  border: 0;
  margin-bottom: 0;
  border-bottom: solid 1px #edf1f2;
}

.tab-beautiful .tab-content .nested-tab .tab-content .list-group-item:first-child {
  border-top: solid 1px #edf1f2;
}

.tab-beautiful.tab-beautiful-modal .nav-tabs {
  margin: -15px;
}

.tab-beautiful.tab-beautiful-modal .tab-content {
  padding: 30px;
}

.tab-beautiful.tab-beautiful-modal .tab-content .tab-pane .rounded-searchbox {
  padding-bottom: 20px;
}

.b-l-r-0 {
  border-left: 0;
  border-right: 0;
}


.b-l-0 {
  border-left: 0;
}


.b-r-0 {
  border-right: 0;
}


.b-t-0 {
  border-top: 0 !important;
}


.b-b-0 {
  border-bottom: 0;
}


.b-b-1 {
  border-bottom: 1px solid #EDF1F2;
}


.b-t-1 {
  border-top: 1px solid #EDF1F2;
}


.no-border {
  border: none !important;
}