<div ng-controller="CPUCtrl" class="wrapper-md">
  <div class="row">
    <div class="col-md-12">
      <div class="widget box">
        <div class="widget-header">
          <h4><i class="icon-reorder"></i> CPU Statistics</h4>
          <div class="toolbar no-padding">
            <div class="btn-group"><span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span></div>
          </div>
        </div>
        <div class="widget-content">
          <ui-real-time-chart dataset="cpuDataset" class="chart"></ui-real-time-chart>
        </div>
        <div class="divider"></div>
        <div class="widget-content">
          <ul class="stats">
            <li class="circular-chart-inline">
              <ui-pie-chart options="cpuInfo" class="circular-chart">{{cpuInfo.data}}%</ui-pie-chart><span class="description">Server Load</span>
            </li>
            <li class="circular-chart-inline">
              <ui-pie-chart options="ramInfo" data-bar-color="#e25856" class="circular-chart">{{ramInfo.data}}%</ui-pie-chart><span class="description">Used RAM</span>
            </li>
            <li class="circular-chart-inline">
              <ui-pie-chart options="diskInfo" data-bar-color="#8fc556" class="circular-chart">{{diskInfo.data}}%</ui-pie-chart><span class="description">Disk Used</span>
            </li>
          </ul>
        </div>
        <div class="divider"></div>
        <div class="widget-content">
          <ul class="stats">
            <li><strong>{{networkIn.data}}</strong><small>Network In K/B</small></li>
            <li class="light"><strong>{{networkOut.data}}</strong><small>Network Out K/B</small></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>