#sidebar.sidebar-fixed
    #sidebar-content
      // Search Input
      form.sidebar-search
        .input-box
          button.submit(type='submit')
            i.icon-search
          span
            input(type='text', placeholder='Search...')
      // Search Results
      .sidebar-search-results
        i.icon-remove.close
        // Documents
        .title
          | Documents
        ul.notifications
          li
            a(href='javascript:void(0);')
              .col-left
                span.label.label-info
                  i.icon-file-text
              .col-right.with-margin
                span.message
                  strong John Doe
                  |  received $1.527,32
                span.time finances.xls
          li
            a(href='javascript:void(0);')
              .col-left
                span.label.label-success
                  i.icon-file-text
              .col-right.with-margin
                span.message
                  | My name is 
                  strong John Doe
                  |  ...
                span.time briefing.docx
        // /Documents
        // Persons
        .title
          | Persons
        ul.notifications
          li
            a(href='javascript:void(0);')
              .col-left
                span.label.label-danger
                  i.icon-female
              .col-right.with-margin
                span.message
                  | Jane 
                  strong Doe
                span.time 21 years old
      // /.sidebar-search-results
      // === Navigation ===
      ul#nav
        li.current
          a(href='index.html')
            i.icon-dashboard
            |               Dashboard
        li
          a(href='javascript:void(0);')
            i.icon-desktop
            |               UI Features
            span.label.label-info.pull-right 6
          ul.sub-menu
            li
              a(href='ui_general.html')
                i.icon-angle-right
                |                 General
            li
              a(href='ui_buttons.html')
                i.icon-angle-right
                |                 Buttons
            li
              a(href='ui_tabs_accordions.html')
                i.icon-angle-right
                |                 Tabs & Accordions
            li
              a(href='ui_sliders.html')
                i.icon-angle-right
                |                 Sliders
            li
              a(href='ui_nestable_list.html')
                i.icon-angle-right
                |                 Nestable List
            li
              a(href='ui_typography.html')
                i.icon-angle-right
                |                 Typography / Icons
            li
              a(href='ui_google_maps.html')
                i.icon-angle-right
                |                 Google Maps
            li
              a(href='ui_grid.html')
                i.icon-angle-right
                |                 Grid
        li
          a(href='javascript:void(0);')
            i.icon-edit
            |               Form Elements
          ul.sub-menu
            li
              a(href='form_components.html')
                i.icon-angle-right
                |                 Form Components
            li
              a(href='form_layouts.html')
                i.icon-angle-right
                |                 Form Layouts
            li
              a(href='form_validation.html')
                i.icon-angle-right
                |                 Form Validation
            li
              a(href='form_wizard.html')
                i.icon-angle-right
                |                 Form Wizard
        li
          a(href='javascript:void(0);')
            i.icon-table
            |               Tables
          ul.sub-menu
            li
              a(href='tables_static.html')
                i.icon-angle-right
                |                 Static Tables
            li
              a(href='tables_dynamic.html')
                i.icon-angle-right
                |                 Dynamic Tables (DataTables)
            li
              a(href='tables_responsive.html')
                i.icon-angle-right
                |                 Responsive Tables
        li
          a(href='charts.html')
            i.icon-bar-chart
            |               Charts & Statistics
        li
          a(href='javascript:void(0);')
            i.icon-folder-open-alt
            |               Pages
          ul.sub-menu
            li
              a(href='login.html')
                i.icon-angle-right
                |                 Login
            li
              a(href='pages_user_profile.html')
                i.icon-angle-right
                |                 User Profile
            li
              a(href='pages_calendar.html')
                i.icon-angle-right
                |                 Calendar
            li
              a(href='pages_invoice.html')
                i.icon-angle-right
                |                 Invoice
            li
              a(href='404.html')
                i.icon-angle-right
                |                 404 Page
        li
          a(href='javascript:void(0);')
            i.icon-list-ol
            |               4 Level Menu
          ul.sub-menu
            li.open-default
              a(href='javascript:void(0);')
                i.icon-cogs
                |                   Item 1
                span.arrow
              ul.sub-menu
                li.open-default
                  a(href='javascript:void(0);')
                    i.icon-user
                    |                       Sample Link 1
                    span.arrow
                  ul.sub-menu
                    li.current
                      a(href='javascript:void(0);')
                        i.icon-remove
                        |  Sample Link 1
                    li
                      a(href='javascript:void(0);')
                        i.icon-pencil
                        |  Sample Link 1
                    li
                      a(href='javascript:void(0);')
                        i.icon-edit
                        |  Sample Link 1
                li
                  a(href='javascript:void(0);')
                    i.icon-user
                    |   Sample Link 1
                li
                  a(href='javascript:void(0);')
                    i.icon-external-link
                    |   Sample Link 2
                li
                  a(href='javascript:void(0);')
                    i.icon-bell
                    |   Sample Link 3
            li
              a(href='javascript:void(0);')
                i.icon-globe
                |                   Item 2
                span.arrow
              ul.sub-menu
                li
                  a(href='javascript:void(0);')
                    i.icon-user
                    |   Sample Link 1
                li
                  a(href='javascript:void(0);')
                    i.icon-external-link
                    |   Sample Link 1
                li
                  a(href='javascript:void(0);')
                    i.icon-bell
                    |   Sample Link 1
            li
              a(href='javascript:void(0);')
                i.icon-folder-open
                |                   Item 3
      // /Navigation
      .sidebar-title
        span Notifications
      ul.notifications.demo-slide-in
        // .demo-slide-in is just for demonstration purposes. You can remove this.
        li(style='display: none;')
          // style-attr is here only for fading in this notification after a specific time. Remove this.
          .col-left
            span.label.label-danger
              i.icon-warning-sign
          .col-right.with-margin
            span.message
              | Server 
              strong #512
              |  crashed.
            span.time few seconds ago
        li(style='display: none;')
          // style-attr is here only for fading in this notification after a specific time. Remove this.
          .col-left
            span.label.label-info
              i.icon-envelope
          .col-right.with-margin
            span.message
              strong John
              |  sent you a message
            span.time few second ago
        li
          .col-left
            span.label.label-success
              i.icon-plus
          .col-right.with-margin
            span.message
              strong Emma
              | 's account was created
            span.time 4 hours ago
      .sidebar-widget.align-center
        #theme-switcher.btn-group(data-toggle='buttons')
          label.btn.active
            input(type='radio', name='theme-switcher', data-theme='bright')
            i.icon-sun
            |  Bright
          label.btn
            input(type='radio', name='theme-switcher', data-theme='dark')
            i.icon-moon
            |  Dark
    #divider.resizeable