<div ng-controller="LogCtrl" class="wrapper-md">
  <div class="row">
    <div class="col-md-12">

      <!-- Widget box -->
      <div class="widget box">

        <!-- Widget Header -->
        <div class="widget-header">
          <h4><i class="icon-reorder"></i> Log History</h4>
          <div class="toolbar no-padding">
            <div class="btn-group"><span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span></div>
          </div>
        </div>
        <!-- End Widget Header -->

        <!-- Main widget content -->
        <div class="widget-content">
          <div data-slim-scroller data-height="500px" data-always-visible="1" data-rail-visible="0">
            <ul class="feeds clearfix">
              <li ng-repeat="log in logs">
                <div class="col1">
                  <div class="content">
                    <div class="content-col1">
                      <div class="label label-{{log.icon.color}}"><i class="icon {{log.icon.icon}}"></i></div>
                    </div>
                    <div class="content-col2">
                      <div class="desc">{{log.msg}}</div>
                    </div>
                  </div>
                </div> 
                <div class="col2">
                  <div class="date">{{log.distanceFromNow}}</div>
                </div> 
              </li>
            </ul>
          </div> 
        </div>
        <!-- End Main widget content -->
      
      </div>
      <!-- End Widget box -->

    </div>
  </div>
</div>