<div ng-include="'../components/headerbar/headerbar.html'"></div>

<div id="container">
  <div ng-include="'../components/navbar/navbar.html'" style="height: 50px;"></div>
  <div id="content">
    <div class="bg-light lter wrapper-md">
      <h1 class="m-n font-thin h3 m-b-0">Dashboard</h1>
    </div>

    <tabset class="tab-container tab-beautiful">
      <!-- 
        Server statistic tab
       -->
      <tab>
        <tab-heading class="b-b-0">Server Statistics</tab-heading>
        <tab-content>
          <div ng-include="'../app/main/cpu-dashboard/cpu-dashboard.html'"></div>
        </tab-content>
      </tab>
      <!-- 
        End Server statistic tab
       -->

      <!-- 
        Postgresql tab
       -->
      <tab>
        <tab-heading>Postgresql</tab-heading>
        <tab-content>
          <div class="wrapper-md">
            <div ng-include="'../app/main/postgresql-dashboard/postgresql-dashboard.html'"></div>
          </div>
        </tab-content>
      </tab>
      <!-- 
        End Postgresql tab
       -->

      <!-- 
        Log tab
       -->
      <tab>
        <tab-heading>Log history</tab-heading>
        <tab-content>
          <div class="wrapper-md">
            <div ng-include="'../app/main/log-dashboard/log.html'"></div>
          </div>
        </tab-content>
      </tab>
      <!-- 
        End Postgresql tab
       -->
    </tabset>
  </div>
</div>