header.header.navbar.navbar-fixed-top(role='banner')
      .container
        ul.nav.navbar-nav
          li.nav-toggle
            a(href='javascript:void(0);', title='')
              i.icon-reorder
        a.navbar-brand(href='index.html')
          //- img(src='theme/assets/img/logo.png', alt='logo')
          strong ME
          | LON
        a.toggle-sidebar.bs-tooltip(href='#', data-placement='bottom', data-original-title='Toggle navigation')
          i.icon-reorder
        ul.nav.navbar-nav.navbar-left.hidden-xs.hidden-sm
          li
            a(href='#')
              | Dashboard
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Dropdown
              i.icon-caret-down.small
            ul.dropdown-menu
              li
                a(href='#')
                  i.icon-user
                  |  Example #1
              li
                a(href='#')
                  i.icon-calendar
                  |  Example #2
              li.divider
              li
                a(href='#')
                  i.icon-tasks
                  |  Example #3
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.icon-warning-sign
              span.badge 5
            ul.dropdown-menu.extended.notification
              li.title
                p You have 5 new notifications
              li
                a(href='javascript:void(0);')
                  span.label.label-success
                    i.icon-plus
                  span.message New user registration.
                  span.time 1 mins
              li
                a(href='javascript:void(0);')
                  span.label.label-danger
                    i.icon-warning-sign
                  span.message High CPU load on cluster #2.
                  span.time 5 mins
              li
                a(href='javascript:void(0);')
                  span.label.label-success
                    i.icon-plus
                  span.message New user registration.
                  span.time 10 mins
              li
                a(href='javascript:void(0);')
                  span.label.label-info
                    i.icon-bullhorn
                  span.message New items are in queue.
                  span.time 25 mins
              li
                a(href='javascript:void(0);')
                  span.label.label-warning
                    i.icon-bolt
                  span.message Disk space to 85% full.
                  span.time 55 mins
              li.footer
                a(href='javascript:void(0);') View all notifications
          li.dropdown.hidden-xs.hidden-sm
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.icon-tasks
              span.badge 7
            ul.dropdown-menu.extended.notification
              li.title
                p You have 7 pending tasks
              li
                a(href='javascript:void(0);')
                  span.task
                    span.desc Preparing new release
                    span.percent 30%
                  .progress.progress-small
                    .progress-bar.progress-bar-info(style='width: 30%;')
              li
                a(href='javascript:void(0);')
                  span.task
                    span.desc Change management
                    span.percent 80%
                  .progress.progress-small.progress-striped.active
                    .progress-bar.progress-bar-danger(style='width: 80%;')
              li
                a(href='javascript:void(0);')
                  span.task
                    span.desc Mobile development
                    span.percent 60%
                  .progress.progress-small
                    .progress-bar.progress-bar-success(style='width: 60%;')
              li
                a(href='javascript:void(0);')
                  span.task
                    span.desc Database migration
                    span.percent 20%
                  .progress.progress-small
                    .progress-bar.progress-bar-warning(style='width: 20%;')
              li.footer
                a(href='javascript:void(0);') View all tasks
          li.dropdown.hidden-xs.hidden-sm
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.icon-envelope
              span.badge 1
            ul.dropdown-menu.extended.notification
              li.title
                p You have 3 new messages
              li
                a(href='javascript:void(0);')
                  span.photo
                    img(src='theme/assets/img/demo/avatar-1.jpg', alt='')
                  span.subject
                    span.from Bob Carter
                    span.time Just Now
                  span.text
                    | Consetetur sadipscing elitr...
              li
                a(href='javascript:void(0);')
                  span.photo
                    img(src='theme/assets/img/demo/avatar-2.jpg', alt='')
                  span.subject
                    span.from Jane Doe
                    span.time 45 mins
                  span.text
                    | Sed diam nonumy...
              li
                a(href='javascript:void(0);')
                  span.photo
                    img(src='theme/assets/img/demo/avatar-3.jpg', alt='')
                  span.subject
                    span.from Patrick Nilson
                    span.time 6 hours
                  span.text
                    | No sea takimata sanctus...
              li.footer
                a(href='javascript:void(0);') View all messages
          li
            a.dropdown-toggle.row-bg-toggle(href='#')
              i.icon-resize-vertical
          li.dropdown
            a.project-switcher-btn.dropdown-toggle(href='#')
              i.icon-folder-open
              span Projects
          li.dropdown.user
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              // <img alt="" src="assets/img/avatar1_small.jpg" />
              i.icon-male
              span.username John Doe
              i.icon-caret-down.small
            ul.dropdown-menu
              li
                a(href='pages_user_profile.html')
                  i.icon-user
                  |  My Profile
              li
                a(href='pages_calendar.html')
                  i.icon-calendar
                  |  My Calendar
              li
                a(href='#')
                  i.icon-tasks
                  |  My Tasks
              li.divider
              li
                a(href='login.html')
                  i.icon-key
                  |  Log Out
      #project-switcher.container.project-switcher
        #scrollbar
          .handle
        #frame
          ul.project-list
            li
              a(href='javascript:void(0);')
                span.image
                  i.icon-desktop
                span.title Lorem ipsum dolor
            li
              a(href='javascript:void(0);')
                span.image
                  i.icon-compass
                span.title Dolor sit invidunt
            li.current
              a(href='javascript:void(0);')
                span.image
                  i.icon-male
                span.title Consetetur sadipscing elitr
            li
              a(href='javascript:void(0);')
                span.image
                  i.icon-thumbs-up
                span.title Sed diam nonumy
            li
              a(href='javascript:void(0);')
                span.image
                  i.icon-female
                span.title At vero eos et
            li
              a(href='javascript:void(0);')
                span.image
                  i.icon-beaker
                span.title Sed diam voluptua
            li
              a(href='javascript:void(0);')
                span.image
                  i.icon-desktop
                span.title Lorem ipsum dolor
            li
              a(href='javascript:void(0);')
                span.image
                  i.icon-compass
                span.title Dolor sit invidunt
            li
              a(href='javascript:void(0);')
                span.image
                  i.icon-male
                span.title Consetetur sadipscing elitr
            li
              a(href='javascript:void(0);')
                span.image
                  i.icon-thumbs-up
                span.title Sed diam nonumy
            li
              a(href='javascript:void(0);')
                span.image
                  i.icon-female
                span.title At vero eos et
            li
              a(href='javascript:void(0);')
                span.image
                  i.icon-beaker
                span.title Sed diam voluptua