<div ng-controller="PostgreStatisticCtrl" class="wrapper-md">
  <div class="row">
    <div class="col-md-12">
      <div class="widget box">
        <div class="widget-header">
          <h4><i class="icon-reorder"></i> Postgresql Statistics</h4>
          <div class="toolbar no-padding">
            <div class="btn-group"><span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span></div>
          </div>
        </div>
        <div class="widget-content">
          <ul class="stats">
            <li>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>
                      <h3>Basic database info</h3>
                    </th>
                    <th> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>Database Name</b></td>
                    <td>{{postgresqlDBInfo.db.db_name}}</td>
                  </tr>
                  <tr>
                    <td><b>Port</b></td>
                    <td>{{postgresqlDBInfo.db.port}}</td>
                  </tr>
                  <tr>
                    <td><b>Database size</b></td>
                    <td>{{dbSize}}</td>
                  </tr>
                  <tr>
                    <td><b>Host name</b></td>
                    <td>{{postgresqlDBInfo.os.hostName}}</td>
                  </tr>
                  <tr>
                    <td><b>Last polled at</b></td>
                    <td>{{lastPoll}}</td>
                  </tr>
                  <tr>
                    <td><b>Next poll at</b></td>
                    <td>{{nextPoll}}</td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li class="light">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Table Name</th>
                    <th>Size on Disk</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="info in databaseTablesInfo">
                    <td><b>{{info["Table"]}}</b></td>
                    <td>{{info["Size"]}}</td>
                  </tr>
                </tbody>
              </table>
            </li>
          </ul>
        </div>
      </div>
      <div class="widget box">
        <div class="widget-header">
          <h4><i class="icon-reorder"></i> Connection statistic</h4>
          <div class="toolbar no-padding">
            <div class="btn-group"><span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span></div>
          </div>
        </div>
        <div class="widget-content">
          <ui-real-time-chart dataset="connectionNumberDataset" class="chart"></ui-real-time-chart>
        </div>
      </div>
    </div>
  </div>
</div>